body {
    font-family: 'josefin sans', sans-serif;
    background-color: rgb(120, 185, 181);
}

html {
  scroll-behavior: smooth;
}

/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: rgb(6, 80, 132);
}

/* Add a color to the active/current link */
.pill-nav a {
  background-color: rgb(50, 10, 107);
  color: white;
}

.greetings h1 {
    text-align:center;
}

.intro {
    color: rgb(50, 10, 107) ;
}